.home-btn {
  display: flex;
  justify-content: flex-end;
  width: 9em;
  height: 9em;
  fill: white;
  fill-opacity: 0.5;
}
.home-btn:hover {
  width: 9.3em;
  height: 9.3em;
  fill-opacity: 1;
}
.about {
  color: white;
  fill: white;
}
.about:hover {
  color: #5252a5;
  fill: #5252a5;
}
.skills {
  color: white;
  fill: white;
}
.skills:hover {
  color: #5252a5;
  fill: #5252a5;
}
.portfolio {
  color: white;
  fill: white;
}
.portfolio:hover {
  color: #5252a5;
  fill: #5252a5;
}
.contact {
  color: white;
  fill: white;
}
.contact:hover {
  color: #5252a5;
  fill: #5252a5;
}

/* --------- Media Queries ----------- */

/* --------- smallest ----------- */

@media (max-width: 575px) {
  .nav-link {
    padding-top: 1em;
  }
  .padding {
    padding-top: 2em;
  }
  .about {
    width: 2em;
    height: 2em;
  }
  .about:hover {
    width: 2.3em;
    height: 2.3em;
  }
  .skills {
    width: 2em;
    height: 2em;
  }
  .skills:hover {
    width: 2.3em;
    height: 2.3em;
  }
  .portfolio {
    width: 2em;
    height: 2em;
  }
  .portfolio:hover {
    width: 2.3em;
    height: 2.3em;
  }
  .contact {
    width: 2em;
    height: 2em;
  }
  .contact:hover {
    width: 2.3em;
    height: 2.3em;
  }
}
/* --------- small ----------- */
@media (min-width: 576px) {
  .nav-link {
    padding-top: 1.5em;
  }
  .padding {
    padding-top: 2em;
  }
  .about {
    width: 3.3em;
    height: 3.3em;
  }
  .about:hover {
    width: 3.5em;
    height: 3.5em;
  }
  .skills {
    width: 3.3em;
    height: 3.3em;
  }
  .skills:hover {
    width: 3.5em;
    height: 3.5em;
  }
  .portfolio {
    width: 3.3em;
    height: 3.3em;
  }
  .portfolio:hover {
    width: 3.5em;
    height: 3.5em;
  }
  .contact {
    width: 3.3em;
    height: 3.3em;
  }
  .contact:hover {
    width: 3.5em;
    height: 3.5em;
  }
}

/* --------- Medium ----------- */
@media (min-width: 768px) {
  .nav-link {
    padding-top: 2em;
  }
  .p-left {
    padding-left: 2px;
  }
  .padding {
    padding-top: 0;
  }
  .about {
    width: 3.8em;
    height: 3.8em;
  }
  .about:hover {
    width: 4em;
    height: 4em;
  }
  .skills {
    width: 3.8em;
    height: 3.8em;
  }
  .skills:hover {
    width: 4em;
    height: 4em;
  }
  .portfolio {
    width: 3.8em;
    height: 3.8em;
  }
  .portfolio:hover {
    width: 4em;
    height: 4em;
  }
  .contact {
    width: 3.8em;
    height: 3.8em;
  }
  .contact:hover {
    width: 4em;
    height: 4em;
  }
}

/* --------- normal ----------- */
@media (min-width: 992px) {
  .nav-link {
    padding-top: 0px;
    padding-right: 10em;
  }
  .padding {
    padding-top: 0;
  }
  .about {
    width: 4.3em;
    height: 4.3em;
  }
  .about:hover {
    width: 4.8em;
    height: 4.8em;
  }
  .skills {
    width: 4.5em;
    height: 4.5em;
  }
  .skills:hover {
    width: 5em;
    height: 5em;
  }
  .portfolio {
    width: 4.5em;
    height: 4.5em;
  }
  .portfolio:hover {
    width: 5em;
    height: 5em;
  }
  .contact {
    width: 4.5em;
    height: 4.5em;
  }
  .contact:hover {
    width: 5em;
    height: 5em;
  }
  .columna {
    justify-content: center;
  }
}
